.c-userForm {
  &:host{
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  &__title {
    margin: 0;
    font-size: 14px;
  }

  &__form {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  &__nameInput {
    width: 80%;
    max-width: 300px;
  }

  &__button {
    height: 25px;
    width: 60px;
    margin: 5px;
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
  }
}
