.c-app {
  &__header {
    height: 100px;
    padding: 0 60px;
    border: 1px solid black;
  }

  &__title {
    line-height: 100px;
    margin: 0;
    font-size: 40px;
  }

  &__body {
    height: calc(100vh - 220px);
    padding: 0 60px;
  }

  &__adduserContainer {
    padding: 20px 0;
    border-bottom: 1px solid;
  }

  &__addUserForm {
    max-width: 400px;
  }

  &__footer {
    height: 100px;
    padding: 0 60px;
    border: 1px solid black;
  }

  &__footerText {
    margin: 0;
    line-height: 100px;
    font-size: 40px;
  }
}
